body { 
  background-color: #dfebe7;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
          
          .projectContainer {
              display: inline;
              grid-gap: 10px;
        }
          .projectContainer > div {
              margin: 10px;
           }
}

@media only screen and (min-width: 768px) {
          
        .projectContainer {
          display: inline;
          grid-gap: 10px;
    }
      .projectContainer > div {
          margin: 10px;
       }
}

@media only screen and (min-width: 992px) {
          
          .projectContainer {
              display: grid;
              grid-template-areas: 
              "div div div";
              grid-template-columns: 1fr 1fr 1fr;
              grid-template-rows: auto auto auto;
              grid-gap: 10px;
          }

          .projectContainer > div {
              margin: 10px;
            }
}

.mainArticle {
  background-color: #dfebe7;
 }

.mainInfo { 
  background-color: #7AA095;
  margin: 20px;
 }
 
.imageRoundBorder {
  border-style: solid;
  border-width: 5px;
  border-color: white;
  border-radius: 50%;  
}

.bannerTop {
  background-color: #1F2041;
  color: white;
  text-align: center;
  padding: 20px;
}

.bannerBottom {
  background-image: url("../images/BannerImage.jpg");
  background-size: cover;
  color: white;
  text-align: center;
  padding: 20px;
}

h1,h2,h3, h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.job{
  background-color: #d5d8db;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  text-align: center;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
}

.dotBlank {
  height: 10px;
  width: 10px;
  background-color: #dfebe7;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
}

@keyframes animatedSquare {
  0%{transform: scale(110%);}
  25%{transform: scale(120%);}
  75%{transform: scale(130%);}
  100%{transform: scale(140%);}
}

#animate:hover {
  animation-name: animatedSquare;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: 2;   
  animation-timing-function: ease; 
}